<p id="notice"><%= notice %></p>

<% if @user.present? %>
  <h1><%= @user %></h1>
<% else %>
  <h1>Clucks</h1>
<% end %>

<% @items.each do |item| %>
  <%= render 'detail', cluck: item.cluck %>
<% end %>

<br>

<%= link_to 'New Cluck', new_cluck_path %>
